@model Capstone.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@Html.ValidationMessage("invalid-credentials")

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="~/Content/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="~/Content/masonry-docs.min.js"></script>
<script type="text/javascript" src="~/Content/jquery.js"></script>


<script src="~/Content/jquery.min.js"></script>
<script src="~/Content/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.panel-heading').each(function () {
            var hue = 'rgb(' + (Math.floor((256 - 199) * Math.random()) + 200) + ',' + (Math.floor((256 - 199) * Math.random()) + 200) + ',' + (Math.floor((256 - 199) * Math.random()) + 200) + ')';
            $(this).css("background-color", hue);
        });
    });
</script>



<div id="login" class="panel panel-default">
    <div class="panel-heading"><h2>Login</h2></div>
    <div class="panel-body" style="background-color:ghostwhite">
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container" style="padding-bottom:30px">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="" method="post" name="Login_Form" class="form-signin">
                    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
                    <hr class="colorgraph"><br>

                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                    @Html.ValidationMessageFor(m => m.UserName)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)

                    <button class="btn btn-danger btn-lg btn-block" name="Submit" value="Login" type="Submit">Login</button>
                </form>
            </div>
            <div class="md-col-4"></div>
        </div>

    }
       </div> 
</div>

