@model Capstone.Web.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="~/Content/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="~/Content/masonry-docs.min.js"></script>
<script type="text/javascript" src="~/Content/jquery.js"></script>




<script src="~/Content/jquery.min.js"></script>
<script src="~/Content/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.panel-heading').each(function () {
            var hue = 'rgb(' + (Math.floor((256 - 199) * Math.random()) + 200) + ',' + (Math.floor((256 - 199) * Math.random()) + 200) + ',' + (Math.floor((256 - 199) * Math.random()) + 200) + ')';
            $(this).css("background-color", hue);
        });
    });
</script>


@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Complete Registration</h2></div>
            <div class="col-md-4"></div>
            <div class="panel-body col-md-4">


                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                    @Html.ValidationMessageFor(m => m.UserName, "")
                    @Html.ValidationMessage("username-exists")
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "")


                    @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", placeholder = "Confirm Email" })
                    @Html.ValidationMessageFor(m => m.ConfirmEmail, "")

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "")

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class="form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                <div style="padding-bottom:25px">
                    <p>Would you like to sign up for emails with recipe updates?</p>
                    @Html.CheckBoxFor(m => m.SignupBool, new { @class = "form-control" })
                </div>
                <button class="btn btn-danger">Submit</button>
            </div>
            <div class="col-md-4"></div>
        </div>
        
    </div>
}